<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="hello" class="com.example.demo.Hello">
        <property name="name" value="Spring" />
        <property name="printer" ref="printer" />
        <property name="names">
            <list>
                <value>Spring</value>
                <value>IoC</value>
                <value>DI</value>
            </list>
        </property>
    </bean>

    <bean id="printer" class="com.example.demo.StringPrinter" />
    <bean id="consoleprinter" class="com.example.demo.ConsolePrinter" />

</beans>